@include media-breakpoint-down(lg) {
	#topMenu {
		.navbar {
			&-collapse {
				&.collapse.show,
	            &.collapsing {
	                position: absolute;
	                top: 0;
	                right: 0;
	                left: 0;
	                transform: translateY(64px);
	                z-index: $zindex-modal;
	            }
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.btn {
		@include button-size(.625rem, 1rem, 18px, 1.6, 0);
	}
	.event {
		.card {
			&-img {
				&-fixed {
					height: 230px;
				}
			}
		}
	}

	#concert_select {
		.title,
		.inner {
			> div {
				&.concert {
					&_btn {
						flex: 0 0 auto;

						.btn {
							margin-top: 0;
						}
					}
				}
			}
			> div + div {
				margin-left: 12px;
			}
		}
		.inner {
			padding-bottom: 8px;
		}
	}

	#footMenu {
		padding: 32px 0 24px;
	}
};
@include media-breakpoint-up(md) {
	#tour_info {
		.tour {
			&-pic {
				float: left;
				margin: 0 $container-padding-x 0 0 !important;
			}
		}
	}
}
@include media-breakpoint-up(lg) {
	.page-block {
	    $margin: 32px;

	    margin: $margin auto;

	    &-title {
	        margin-bottom: $margin;
			text-align: center;
	        font-size: 32px;
	    }
	    &-action {
	        margin: $margin * 2 auto;
	    }
	}
	.event {
		$btn-height: 48px;
		$card-spacer-y: 16px;
		$card-spacer-x: 16px;
		$card-title-height: $card-body-line-height * 2;

		padding-bottom: $card-spacer-y * 2 + $card-title-height + $card-date-height + $card-body-line-height + 8px * 2;

		.card {
			&-img {
				&-fixed {
					height: 310px;
				}
			}
			&-body {
				bottom: -($card-spacer-y * 2 + $card-info-height - ($card-title-height + $card-date-height + $card-body-line-height - 8px));
				padding: $card-spacer-y $card-spacer-x;

				.action {
					margin-top: -($card-spacer-y + $btn-height);
				}
			}
			&-info {
				margin-top: $card-spacer-y;

				.title {
					height: $card-title-height;
				}
			}
		}
	}

	#topSlider {
		.slider {
			box-shadow: 0 4px 40px 0 rgba($black, 0.18);

			.slides {
				height: $top-slider-height + 80px;

				.event {
					height: $top-slider-height + 80px;

					&:before {
		                right: 25%;
		                background: linear-gradient(90deg, rgba($black, .64), transparent);
					}

					.caption {
						top: 54px;
						right: $btn-arrow-width;
						bottom: 64px;
						left: $btn-arrow-width;
					}

					&-title {
						max-height: 166px;
		                font-size: 52px;
		                font-weight: 300;
		            }
				}
				.pagination {
		            bottom: 32px;
				}
			}
		}
	}
	#cities {
		.city {
			height: 156px;
		}
	}
	#tour_info {
		.page-block-title {
	        text-align: left;
	    }
	}
	#concert_select {
		.title,
		.inner {
			padding: 0;

			> div {
				padding: $container-padding-x;

				&.concert {
					&_date,
					&_btn {
						text-align: center;
					}
					&_date {
						min-width: 200px;

						.time {
							display: inline;

							&:before {
								margin-left: 4px;
							}
						}
					}
					&_city {
						margin: 0;
					}
					&_btn {
						min-width: 250px;
					}
				}
			}

			> div + div {
				margin-left: 0;
				border-left-width: 1px;
				border-style: solid;
			}
		}
		.inner {
			.concert {
				&_date,
				&_city {
					> div:first-of-type {
						font-size: 20px;
					}
				}
				&_date {
					> div:first-of-type {
						font-size: 20px;
					}
				}
				&_btn {
					.btn-outline-light.btn-mobile {
						&:before {
							display: none;
						}
						span {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-up(xl) {
	#topMenu {
		.navbar {
			&-brand {
				width: 200px;
	            height: 72px;
				margin-right: 0;
	            background-position-y: 10px;
	            background-size: auto 43px;
			}
			&-nav {
				.nav {
					&-item {
						border-top: none;
						border-left: 1px solid rgba($white, .12);
					}
					&-link {
						padding: $nav-link-padding-y + 5 $nav-link-padding-x;
					}

					.cart {
						.nav-link {
		                    margin-right: 0;
						}
					}
				}
			}
			&-inline {
				$inline-el-padding: 4px;

				margin-right: -$inline-el-padding * 2;

				.nav-item {
	                flex: 0 0 auto;
	                width: auto;
					padding: $inline-el-padding;
					border-left: none;

					.nav-link {
						padding: $inline-el-padding;
					}
					&-text {
						margin-left: $inline-el-padding;
					}
				}
				.nav-item + .nav-item {
					border-left: none;
				}
			}

			.search {
				input {
					padding: $nav-link-padding-y + 5 $nav-link-padding-x $nav-link-padding-y + 5 $nav-link-padding-x + 34;
				}
			}
		}
		.dropdown {
			&.city {
				ul {
					max-height: 8 * ($dd-item-padding * 2 + $dd-item-line-height + $dd-item-border-width);
				}
			}
		}
	}
}
