@include media-breakpoint-down(md) {
	#mainMenu {
		.main-menu {
			.menu-body {
			    margin: {
					right: -$container-padding-x;
					left: -$container-padding-x;
				}
				overflow-y: auto;
				@include accent;
			}
		}
		.categories {
			.nav-link,
			.dropdown-item > a {
				// color: $black;
				padding: 12px $container-padding-x;
				line-height: 20px;
				font-size: 18px;
			}
			.nav-item {
				@include clearfix;

				+ .nav-item,
				.dropdown-item {
					border-top: 1px solid $body-bg;
					@include clearfix;
				}
			}
			.dropdown-menu {
				position: relative;
			    display: block;
			    float: none;
				box-shadow: none;
			}
	        .arrow {
	            display: none;
	        }
			.nav-indicator {
				display: none;
			}
		}
	}
};
@include media-breakpoint-down(lg) {
	#topMenu {
		.navbar {
			&-collapse {
				&.collapse.show,
	            &.collapsing {
	                position: absolute;
	                top: 0;
	                right: 0;
	                left: 0;
	                transform: translateY(64px);
	                z-index: $zindex-modal;
	            }
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	#concert_select {
		.title,
		.inner {
			> div {
				&.concert {
					&_btn {
						flex: 0 0 auto;

						.btn {
							margin-top: 0;
						}
					}
				}
			}
			> div + div {
				margin-left: 12px;
			}
		}
		.inner {
			padding-bottom: 8px;
		}
	}
	#footMenu {
		padding: 32px 0 24px;
		border-bottom: 1px solid $body-bg;
	}
};
@include media-breakpoint-up(md) {
	#topMenu {
		.navbar {
			&-brand {
				width: 176px;
				background: url(../images/logo.svg) center no-repeat;
				background-position-x: 24px;
				background-position-y: 13px;
				background-size: auto 32px;
			}
			&-nav {
				.nav {
					&-item {
						flex: 0 0 auto;
						border-left: 1px solid rgba($white, .12);
					}
					&-link {
						&.dropdown-toggle:after {
							display: inline-block;
						}
					}
				}
				.search {
					flex: 1 0 auto;
				}
			}
		}
		.dropdown {
			&-menu-right {
				right: 0;
				left: auto;
			}
			&.show {
	            padding-right: 0;
	        }
		}
		.search {
			// flex-basis: 100%;

            form {
                display: flex;
                width: 100%;
            }
            input {
				flex: 1 0 100%;
                padding: {
                    right: $nav-link-padding-x;
                    left: ($nav-link-padding-x * 0.75) * 2 + 14px;
                }
            }
            // .nav-link {
            //     position: absolute;
            //     flex: 1 0 auto;
            //     z-index: 2;
            //     top: 0;
            //     bottom: 0;
            //     left: 0;
            // }
		}
	}
}
@include media-breakpoint-up(lg) {
	#topMenu {
		.navbar {
			&-brand {
				width: 222px;
	            height: 72px;
				margin-right: 0;
	            background-position-y: 10px;
	            background-size: auto 43px;
			}
			&-nav {
				.nav {
					&-link {
						min-height: ($nav-link-padding-y + 5) * 2 + $nav-link-padding-x;
						padding: $nav-link-padding-y + 5 $nav-link-padding-x;
					}
					// &-item {
					// 	border-top: none;
					// 	// border-left: 1px solid rgba($white, .12);
					// 	// &:last-child {
	                //     //     .nav-link {
					// 	// 		padding-right: 0;
					// 	// 	}
	                //     // }
					// }

					.cart {
						.nav-link {
		                    margin-right: 0;
						}
					}
				}
			}
			&-inline {
				$inline-el-padding: 4px;

				margin-right: -$inline-el-padding * 2;

				.nav-item {
	                flex: 0 0 auto;
	                width: auto;
					padding: $inline-el-padding;
					border-left: none;

					.nav-link {
						padding: $inline-el-padding;
					}
					&-text {
						margin-left: $inline-el-padding;
					}
				}
				.nav-item + .nav-item {
					border-left: none;
				}
			}

			.search {
				input {
					padding: $nav-link-padding-y + 5 $nav-link-padding-x $nav-link-padding-y + 5 $nav-link-padding-x + 34;
				}
			}
		}
		.dropdown {
			&.city {
				ul {
					max-height: 8 * ($dd-item-padding * 2 + $dd-item-line-height + $dd-item-border-width);
				}
			}
		}
	}
	#mainMenu {
		.main-menu {
			flex-wrap: nowrap;
			margin: 0 -16px;
			padding: 0 16px;

			.menu-wrapper {
				height: 56px;
				margin-left: -24px;
				margin-right: auto;

				.drag-item {
					padding: {
						right: 8px;
						left: 8px;
					}
					// hiding scrollbar for Firefox
			        height: 80px;
			        padding-bottom: 24px;
				}
			}

			.menu-body {
                // reset styles of dropdown
				position: relative;
				top: 0;
				left: auto;
				right: auto;
	            z-index: 1;
				display: block !important;
				flex: 0 1 auto;
				padding: 0;
				border-top: none;

				.categories {
					display: flex;
					flex-flow: row nowrap;
					@include nav-tabs;
					@include nav-tabs-indicated;
					margin-bottom: 0;
			        &:before {
			            content: '';
			            display: none;
			        }

					.badge {
						display: none;
					}
					.nav-item {

						a {
							display: inline-block;
						}
						&.dropdown {
							padding-right: 6px;

							.nav-link {
								position: relative;
								z-index: 1;
							}
							.arrow {
								position: relative;
								display: inline-block;
								width: 28px;
								height: 28px;
								line-height: 28px;
								margin-left: 6px;
								text-align: center;
								@include transition;

								&:before {
									content: '';
									position: absolute;
									top: 25%;
									bottom: 25%;
									left: 0;
									border-left: 1px solid $gray-500;
									@include transition;
								}
								&:after {
									content: '';
									display: none;
								}

								&:hover {
									background: theme-color(primary);

									&:before {
										border-color: theme-color(primary);
									}
								}
							}
							&.show .arrow {
								background: theme-color(primary);

								&:before {
									border-color: theme-color(primary);
								}
								i {
									transform: rotate(180deg);
								}
							}
						}
					}
					.nav-indicator {
						bottom: auto;
						top: 54px;
					}
				}
			}

			// ordering
			.drag-wrapper { order: 9; }
			.menu-item { order: 10 }

			.dropdown {
				&.city {
					ul {
						max-height: 8 * ($dd-item-padding * 2 + $dd-item-line-height + $dd-item-border-width);
					}
				}
			}

			&:after {
				display: none;
			}
		}
	}
	#cities {
		.city {
			height: 156px;
		}
	}
	#concert_select {
		.title,
		.inner {
			padding: 0;

			> div {
				padding: $container-padding-x;

				&.concert {
					&_date,
					&_btn {
						text-align: center;
					}
					&_date {
						min-width: 200px;

						.time {
							display: inline;

							&:before {
								margin-left: 4px;
							}
						}
					}
					&_city {
						margin: 0;
					}
					&_btn {
						min-width: 250px;
					}
				}
			}

			> div + div {
				margin-left: 0;
				border-left-width: 1px;
				border-style: solid;
			}
		}
		.inner {
			.concert {
				&_date,
				&_city {
					> div:first-of-type {
						font-size: 20px;
					}
				}
				&_date {
					> div:first-of-type {
						font-size: 20px;
					}
				}
				&_btn {
					.btn-outline-light.btn-mobile {
						&:before {
							display: none;
						}
						span {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
	#subscribe {
		.container {
			flex-direction: row;
	    }
		.title {
			font-size: $h3-font-size;
			text-align: left;
		}
		.form {
			flex: 1 0 auto;
			width: auto;
			margin: 0 50px;
		}
	}
	#footInfo {
		padding: 10px 0;

		.payment-methods {
            justify-content: space-between;
		}
		.row.text {
			text-align: left;
		}
	}
}
@include media-breakpoint-up(xl) {
	#topMenu {
		.lang-select {
			.dropdown-menu {
				right: 0;
				left: 0;
				min-width: 0;
			}
		}
	}
	#subscribe {
		.title {
			font-size: $h2-font-size;
		}
	}
}
