.box {
    margin-bottom: 32px;
    background: $white;
    box-shadow: $box-shadow;
    @include clearfix;
    // @extend .e2e;
    // @extend .e2e-off-sm-up;
    @include media-breakpoint-down(xs) {
        margin: {
            right: -14px;
            left: -14px;
        }
    };

    &-header,
    &-body,
    &-footer {
        border-style: solid;
        border-color: light($black);
    }

    &-header {
        border-bottom-width: 1px;
        font-size: 18px;
        transition: all 0.3s ease;

        padding: 16px 20px;
        @include media-breakpoint-up(lg) {
            padding: {
                right: 30px;
                left: 30px;
            };
        };

        .title {
            font-size: 24px;
        }

        &[data-toggle] {
            position: relative;
            cursor: pointer;
        }
        &[data-toggle="collapse"] {
            @include clearfix;

            &:before {
                content: '\f106';
                font-family: 'FontAwesome';
                float: right;
                line-height: 1;
                font-size: 24px;
                margin-left: 16px;
                @include light-text;
            }

            &[aria-expanded="false"] {
                border-bottom-width: 0;

                &:before {
                    content: '\f107';
                }
            }
        }
    }

    &-body {
        padding: 24px;
        font-size: 16px;
    	line-height: 1.5;
        color: $gray-600;
        @include clearfix;

        @include media-breakpoint-up(sm) {
            padding: 30px;
        };
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-width: 1px;

        padding: 20px;
        @include media-breakpoint-up(lg) {
            padding: 30px;
        };

        &__left {
            flex: 1 0 auto;
        }
        &__right {
            flex: 0 1 auto;
        }
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        color: $gray-800;
    }

    ul {
        display: inline-block;
        margin-bottom: 1rem;
        padding-left: 1em;
        list-style-type: disc;
    }

    @each $dimension in map-keys($grid-breakpoints) {
        &.#{$dimension}-clearbox {
            @include media-breakpoint-down($dimension) {
                @include clearbox;
            }
        }
    }
}
