.box {
    margin-bottom: 32px;
    background: $white;
    box-shadow: $box-shadow;
    @include clearfix;
    // @extend .e2e;
    // @extend .e2e-off-sm-up;

    &-header,
    &-body,
    &-footer {
        border-style: solid;
        border-color: $body-bg;
    }
    &-header,
    &-footer {
        padding: 16px 24px;

        @include media-breakpoint-up(sm) {
            padding: {
                right: 30px;
                left: 30px;
            };
        };
    }
    &-body {
        padding: 24px;
        font-size: 16px;
    	line-height: 1.5;
        color: $gray-600;

        @include media-breakpoint-up(sm) {
            padding: 30px;
        };
    }

    &-header {
        border-bottom-width: 2px;
        font-size: 18px;
        transition: all 0.3s ease;

        &[data-toggle] {
            position: relative;
            cursor: pointer;
        }
        &[data-toggle="collapse"] {
            @include clearfix;

            &:before {
                content: '\f106';
                font-family: 'FontAwesome';
                float: right;
                line-height: 1;
                font-size: 24px;
                margin-left: 16px;
                @include light-text;
            }

            &[aria-expanded="false"] {
                border-bottom-width: 0;

                &:before {
                    content: '\f107';
                }
            }
        }
    }
    &-footer {
        border-top-width: 2px;
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        color: $gray-800;
    }

    ul {
        margin-bottom: 1rem;
        padding-left: 1em;
        list-style-type: disc;
    }
}
