.countdown {
    text-align: center;

    &__time {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 220px;
        font-size: 32px;
        color: $black;

        @include media-breakpoint-down(sm) {
            margin-bottom: .6rem;
        };

        i {
            color: theme-color(secondary);
            font-size: 1.3em;
        }
        span {
            padding-right: 2rem;
        }
    }
    &__text {
        h5 {
            margin-bottom: .4rem;
        }

        @include media-breakpoint-up(md) {
            padding: 10px 0 10px 30px;
            border-left: 1px solid light($black);

            p {
                margin-bottom: 0;
            }
        };
    }

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        text-align: left;
    };

    .box & {
        margin: {
            top: -14px;
            bottom: -20px;
        }
        @include media-breakpoint-up(md) {
            margin-top: -20px;
        };
    }
}

.order-list {
    // @extend %action-block;
    // @extend %action-block-big;
    // @include media-breakpoint-up(md) {
    //     border-top-width: 0;
    // };

    &-header {
        display: flex;
        padding: 12px 30px;
        line-height: 24px;
        font-size: 16px;
        background: $secondary;
        color: $white;

        @include media-breakpoint-down(sm) {
            display: none;
        };
    }
}

.order {

    &__col {
        flex: 0 0 auto;

        &--event {
            flex: 1 1 auto;
        }

        @include media-breakpoint-up(md) {
            &--tickets {
                min-width: 60px;
                text-align: center;
            }
            &--total {
                min-width: 100px;
                text-align: right;
                margin-left: 20px;
            }
        };

    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        // padding: 12px 0;

        @include media-breakpoint-up(md) {
            flex-wrap: nowrap;
        };

        & + & {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid $gray-200;
        }

        .event-info__main {
            padding-right: 0;
        }
    }

    &-item > &__col {
        &--tickets,
        &--total {
            display: flex;
            justify-content: space-between;
            width: 100%;


            @include media-breakpoint-down(sm) {
                padding-left: 84px;
                margin-top: 4px;
            };
            @include media-breakpoint-down(xs) {
                padding-left: 59px;
            };

            @include media-breakpoint-up(md) {
                display: inline-block;
                width: auto;
                font-size: 22px;

                > .label {
                    display: none;
                }
            };
        }
        &--total {
            > .value {
                font-weight: bold;
            }
        }
    }

    .cart-total {
        span:first-child {
            text-align: left;
        }
    }
    .value {
        margin-left: .5em;
    }

}
