.countdown {
    text-align: center;

    &__time {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 220px;
        font-size: 32px;
        color: $black;

        @include media-breakpoint-down(sm) {
            margin-bottom: .6rem;
        };

        i {
            color: theme-color(secondary);
            font-size: 1.3em;
        }
        span {
            padding-right: 2rem;
        }
    }
    &__text {
        h5 {
            margin-bottom: .4rem;
        }

        @include media-breakpoint-up(md) {
            padding: 10px 0 10px 30px;
            border-left: 1px solid light($black);

            p {
                margin-bottom: 0;
            }
        };
    }

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        text-align: left;
    };

    .box & {
        margin: {
            top: -14px;
            bottom: -20px;
        }
        @include media-breakpoint-up(md) {
            margin-top: -20px;
        };
    }
}

.order-list {

    &-header {
        display: flex;
        padding: 12px 30px;
        line-height: 24px;
        font-size: 16px;
        background: $secondary;
        color: $white;

        @include media-breakpoint-down(sm) {
            display: none;
        };
    }
}
.orders-list {
    &__item {
        & + & {
            border-top: 1px solid $gray-200;
        }

        &-header {
            display: flex;
            align-items: center;
            padding: 12px 20px;
            font-size: 16px;
            transition:
                background .1s ease,
                color .1s ease;

            @include media-breakpoint-up(sm) {
                padding: 12px 30px;
            };

            &:hover {
                background: lighten($gray-100, 60%);
            }
            &[aria-expanded="true"] {
                background: $secondary;
                color: $white;
            }
        }
        &-name {
            margin-right: auto;
            font-size: 18px;
        }
        &-header[aria-expanded="false"] &-date,
        &-header[aria-expanded="false"] &-status {
            color: $black;
        }
        &-status {
            display: none;
            text-align: right;

            @include media-breakpoint-up(md) {
                display: block;
                min-width: 120px;
            };
            @include media-breakpoint-up(lg) {
                min-width: 200px;
            };
        }
        &-body {
            border-top: 1px solid $gray-200;
        }
        &-bill {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }
}
.order-events-list {
    font-size: 18px;

    &__item {
        padding: 12px 0;
        flex-flow: row wrap;

        & + & {
            border-top: 1px solid $gray-200;
        }

        &-header {
            display: flex;
            flex-basis: 100%;
        }
        &-body {
            flex-basis: 100%;
        }
        &-name {
            margin-right: auto;
        }

        &-header > &-amount,
        &-header > &-total {
            display: none;
            min-width: 200px;
            text-align: right;

            @include media-breakpoint-up(md) {
                display: block;
            };
        }

        &-body > &-amount,
        &-body > &-total {
            display: block;

            @include media-breakpoint-up(md) {
                display: none;
            };
        }
    }
}

.order-event-summary {
    display: flex;
    align-items: flex-start;
    padding: 12px 0;

    &__pic {
        flex: 0 0 auto;
        width: 76px;
        margin-right: 12px;

        @include media-breakpoint-up(sm) {
            margin-right: 24px;
        };
    }
    &__tickets {
        flex: 1 1 auto;

        & > div {
            margin-bottom: 4px;
            line-height: 1.2;

            @include media-breakpoint-up(md) {
                line-height: 1.5;
            };
        }
    }
}

.order {

    &__col {
        flex: 0 0 auto;

        &--event {
            flex: 1 1 auto;
        }

        @include media-breakpoint-up(md) {
            &--tickets {
                min-width: 60px;
                text-align: center;
            }
            &--total {
                min-width: 100px;
                text-align: right;
                margin-left: 20px;
            }
        };

    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        // padding: 12px 0;

        @include media-breakpoint-up(md) {
            flex-wrap: nowrap;
        };

        & + & {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid $gray-200;
        }

        .event-info__main {
            padding-right: 0;
        }
    }

    &-item &__col {
        &--tickets,
        &--total {
            display: flex;
            justify-content: space-between;
            width: 100%;


            @include media-breakpoint-down(sm) {
                // padding-left: 84px;
                margin-top: 4px;
            };
            // @include media-breakpoint-down(xs) {
            //     padding-left: 59px;
            // };

            @include media-breakpoint-up(md) {
                display: inline-block;
                width: auto;
                font-size: 22px;

                > .label {
                    display: none;
                }
            };
        }
        &--total {
            > .value {
                font-weight: bold;
            }
        }
    }

    .cart-total {
        span:first-child {
            text-align: left;
        }
    }
    .value {
        margin-left: .5em;
        flex-shrink: 0;
    }
    h4 {
        margin-bottom: .3em;
        color: $gray-600;
        font-weight: 600;
    }

}
