@mixin card {
    position: relative;
    box-shadow: $card-shadow;
    transition: box-shadow $card-sliding-speed ease;

    &__body {
        display: block;
        position: relative;
        z-index: 3;
    }
    &__img {
        position: relative;
        display: table;
        width: 100%;

        img {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--fix {
            position: relative;
            padding-bottom: 71%;
            overflow: hidden;

            img {
                position: absolute;
            }
        }
        &--a4 {
            @include a4;
        }
        &--animated {
            overflow: hidden;

            img {
                transition: transform $city-bg-scaling-speed $city-bg-scaling-easing;
            }
        }
    }

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 4px 40px 0 rgba($black, .18);
    }
}

.card {
    @include card;

    &:hover,
    &:active,
    &:focus {
        .card__img--animated img {
            transform: scale3d(1.1, 1.1, 1);
        }
    }
}
