// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1248px
);

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1266px // 1200px + 48px .container's x-padding + 15px scrollbar (+3px no reason)
);

// Colors
$white:  #fff !default;
$black:  #000 !default;
$gray-100: rgba($black, .08);
$gray-100-hex: #e4e4e4;
$gray-200: #e0e0e0;
$gray-300: #dddddd;
$gray-400: #bbb;
$gray-500: #a4a4a4;
$gray-600: #666;
$gray-700: #495057 !default;
$gray-800: #333;
$gray-900: #212529 !default;

$body-bg: #f7f7f7;
$red:     #c40e00;
$green:   #46c512;
$blue:    #00398c;
$yellow:  #ffc800;
$orange:  #ff7722;
$cyan:    #12b6c5;
$purple:  #bd25b2;

$light-green: #67e532;
$light-blue: #267aed;
$pink: #e815af;
$cherry: #860e0e;

$theme-colors: (
  default: #f0f0f0,
  primary: $yellow,
  secondary: $blue,
  success: $yellow,
  info: $blue,
  warning: $orange,
  danger: $red,
  light: $gray-200,
  dark: $black,
  accent: $purple
);


// Links
//
// Style anchor elements.

$link-color:            theme-color('secondary');
$link-decoration:       none;
$link-hover-color:      lighten(theme-color('secondary'), 10%);// darken($link-color, 15%);
$link-hover-decoration: none;

// Links
// $link-color: rgba($black, .48);
// $link-decoration: underline;

// Components
// $input-btn-padding-y: 16px;
// $input-btn-padding-x: .5rem;
// $input-btn-line-height-lg: 1;
// $input-btn-padding-y-lg: .563rem;
// $input-btn-lg-padding-y: 563rem;

$input-btn-padding-y:    .625rem;
$input-btn-padding-x:    1rem !default;
$input-btn-line-height:  1.6;

$border-width: 0;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

$dropdown-padding-y: 0;
$dropdown-spacer: 0;
// $dropdown-box-shadow: 0 4px 40px 0 rgba($black, .18);

$dropdown-link-color: $black;
$dropdown-link-hover-color: $black;
$dropdown-link-active-color: $black;
$dropdown-link-hover-bg: $body-bg;
$dropdown-link-active-bg: $body-bg;

$dropdown-item-padding-y: 0;
$dropdown-item-padding-x: 0;

// Cards
$card-spacer-y: 8px;
$card-spacer-x: 8px;
$card-border-width: 0;

// Headings
$h1-font-size: 36px;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;

$headings-margin-bottom: 1.4rem;
$headings-font-weight: 400;
$headings-line-height: 1.25;

// Navbar
$navbar-padding-x: 0;
$navbar-padding-y: 0;

// Modal
// $modal-lg: 800px !default;
// $modal-md: 500px !default;
$modal-sm: 400px;
$modal-inner-padding: 30px; // 16px
$modal-backdrop-bg: rgba($black, .48);


// Tooltips
$tooltip-bg:                  $white;
// $tooltip-opacity:             .55; // doesn't work
$tooltip-padding-y:           12px;
$tooltip-padding-x:           12px !default;
$tooltip-color:               $gray-600;

// Popovers
$popover-inner-padding:  0;
$popover-border-width:   0;
$popover-box-shadow:     0 4px 40px 0 rgba(0,0,0,0.18);

$popover-header-bg:        theme-color(secondary);
$popover-header-color:     $white;
$popover-header-padding-y: 8px !default;
$popover-header-padding-x: 20px;

$popover-body-color:     $gray-600;
$popover-body-padding-y: 14px;
$popover-body-padding-x: 20px;

$popover-arrow-width:        0;
$popover-arrow-height:       0;
$popover-arrow-outer-width:  0;
$popover-arrow-outer-color:  $white;

// Forms
$form-check-margin-bottom:  1rem;
