.event {
    @include card;

    overflow-y: hidden;
    padding-bottom: 118px;
    background: $white;

    @include media-breakpoint-up(sm) {
        padding-bottom: 142px;
    };

    .block-title {
        display: block;
        height: $card-title-height;
        line-height: $card-body-line-height;
        overflow: hidden;
        padding: 0;
        margin-bottom: 8px;
        font-size: 17px;

        &__text {
            white-space: normal;
        }
    }

    &__body {
        position: absolute;
        top: auto;
        right: 0;
        bottom: -76px;
        left: 0;
        padding: 8px;
        overflow: hidden;
        background: $white;
        transition: bottom $card-sliding-speed ease;

        .action {
            display: block;
            margin-top: -($card-spacer-y + $btn-height);
            margin-bottom: $card-spacer-y;
            opacity: 0;
            transition:
                margin-top $card-sliding-speed ease,
                opacity $card-sliding-speed * 5/7 ease;

            @include media-breakpoint-down(xs) {
                padding: 12px 8px;
                font-size: 14px;
            };
        }

        @include media-breakpoint-up(sm) {
            padding: 20px;
        };
    }
    &__info {
        margin-top: $card-spacer-y;
        line-height: $card-body-line-height;
        color: $gray-600;

        a {
            @include link-appearance;
        }

        &-item {
            box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12);
        }
    }
    &__date {
        position: relative;
        z-index: 2;
        margin-bottom: $card-spacer-y;
        @include overflow-ellipsis;
    }
    &__cities {
        position: relative;
        z-index: 1;
        max-height: $card-body-line-height * 5 + 1;
        height: $card-cities-height;
        margin-top: $card-spacer-y;
        padding-left: 24px;
        transition: all $card-sliding-speed ease;

        li {
            transition: all $card-sliding-speed * .8 ease-out;
            opacity: 0;
            @include overflow-ellipsis;

            &:first-child {
                opacity: 1;
            }
            &:last-child {
                line-height: $card-body-line-height + 1;
            }
        }
        .multiple-places {
            position: absolute;
            top: 0;
            display: list-item;

            ~ li {
                transform: translateY($card-body-line-height);
            }
        }

        &:before {
            content: '\f041';
            font-family: 'kontramarka-icons';
            position: absolute;
            top: 0;
            left: 0;
            color: $gray-500;
        }
    }
    &__hover {
        &-only {
            opacity: 0;
            display: none;
            visibility: hidden;
        }
        &-none {
            display: inline;
            opacity: 1;
            visibility: visible;
        }
    }

    &--full-width {
        // min-height: 180px;
        // max-height: 200px;
        padding: 0;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;

            &.fade:not(.show) {
                min-height: 155px;
                max-height: 200px;
            }
        }
    }

    &--1000 {
        max-width: 1000px;
        margin: 0 auto;
    }

    &:hover,
    &:active,
    &:focus {
        .action {
            margin-top: 0;
            opacity: 1;
        }
        .event {
            &__body {
                bottom: 0;
                @include accent;
            }
            &__cities {
                li:not(.multiple-places) {
                    transform: translateY(0);
                    opacity: 1;
                }
                li.multiple-places {
                    top: -$card-body-line-height;
                    opacity: 0;
                    visibility: hidden;
                }

                &.only-one {
                    li {
                        white-space: normal;
                    }
                }
            }
            &__hover {
                &-only {
                    display: inline;
                    opacity: 1;
                    visibility: visible;
                }
                &-none {
                    opacity: 0;
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
}

.event-horz {
    @include card;

    display: flex;
    padding: 24px;
    background: $white;

    .block-title {
        display: inline;
        padding: 0;
        line-height: 1.2em;
        font-size: 18px;

        span {
            white-space: normal;
        }
    }
    .part-left {
        margin-right: 24px;
        flex: 0 0 140px;
    }
    .action {
        display: block;
        margin-top: 12px;
        margin-bottom: 0;
        opacity: 1;
    }
    .event {
        &__img {

        }
        &__body {
            position: relative;
            bottom: auto;
            flex: 1 1 auto;
            padding: 0;
        }
        &__cities {
            li {
                opacity: 1;
            }
        }
    }
}


.new-event {
    .block-title {
        display: inline-block;
    }
    &__additional {
        display: flex;
        justify-content: space-between;

        .full-list {
            display: none;
        }
    }
    .block-title &__additional {
        margin-top: 4px;
    }



    &:hover {
        .new-event {
            &__category,
            &__description,
            &__action,
            &__favourite {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
        .block-title {
            color: #004ebf;

            &__text {
                border-bottom: 1px solid;
            }
        }
    }
}

.long-event {
    &__body {
        padding: 16px 20px 20px;

        .block-title {
            padding: 0;
        }
    }
    &__info-item {
        margin: 10px 0;

        .full-list {
            display: none;
        }
    }
    &__action {
        margin-top: 16px;

        .btn.hover-only {
            margin-top: -48px;
            opacity: 0;
            transition:
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out,
                color 0.15s ease-in-out,
                opacity 0.15s ease-in-out;
        }
    }

    &:hover {
        .long-event {
            &__action {
                .btn.hover-only {
                    opacity: 1;
                }
            }
        }
    }
}

.new-event,
.long-event {
    &__category {
        // transform: translate3d(-4px, 0, 0);
        opacity: 0;
        // will-change: transform;
        transition:
            transform 0.5*$card-sliding-speed ease,
            opacity 0.5*$card-sliding-speed ease;
    }
    &__favourite {
        margin-left: 8px;

        // transform: translate3d(4px, 0, 0);
        opacity: 0;
        // will-change: transform;
        transition:
            transform 0.5*$card-sliding-speed ease,
            opacity 0.5*$card-sliding-speed ease;
    }
    &__description {
        margin: 10px 0;
        line-height: 20px;

        transform: translate3d(0, -15px, 0);
        opacity: 0;
        // will-change: transform;
        transition:
            transform 0.75*$card-sliding-speed ease-out 0.15*$card-sliding-speed,
            opacity 0.75*$card-sliding-speed ease 0.15*$card-sliding-speed;
    }
    // &__action {
    //     transform: translate3d(0, -15px, 0);
    //     opacity: 0;
    //     // will-change: transform;
    //     transition:
    //         transform 0.95*$card-sliding-speed ease-out 0.25*$card-sliding-speed,
    //         opacity 0.95*$card-sliding-speed ease 0.25*$card-sliding-speed;
    // }

    &:hover {
        .new-event,
        .long-event {
            &__category,
            &__description,
            &__action,
            &__favourite {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
    }
}

.plain-event {
    .block-title {
        display: inline-block;
        padding: 0;
        margin-top: 10px;
    }

    &__body {
        height: 100px;
        overflow: hidden;
    }
    &__additional {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;

        .full-list {
            display: none;
        }
    }

    &:hover {
        .block-title {
            color: #004ebf;

            &__text {
                border-bottom: 1px solid;
            }
        }
    }
}

$lc-line-height: 20px;
@each $row in (1 2 3 4 5 6 7 8 9 10) {
    .lc-#{$row} {
        display: -webkit-box;
        line-height: $lc-line-height;
        height: ($lc-line-height * $row) + 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $row;
        -webkit-box-orient: vertical;
    }
}
