.event-info {
    position: relative;
    margin-bottom: 20px;
    @include clearfix;
    @include media-breakpoint-up(xl) {
        margin-bottom: 30px;
    };

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        justify-content: space-between;
        overflow: hidden;
    }

    &__pic {
        float: left;
        display: inline-block;
        max-width: 70px;
        width: 45px;
        margin-right: 14px;

        @include media-breakpoint-up(sm) {
            width: 70px;
        };
        // @include media-breakpoint-up(xl) {
        //     width: 216px;
        // };
    }

    &__title {
        display: block;
        margin-bottom: 0;
        padding-right: 24px;
        font-size: 20px;
        line-height: 1;
        color: $gray-800;

        @include media-breakpoint-up(md) {
            padding-right: 210px;
            font-size: 24px;
            color: theme-color(secondary);
        };
    }

    &__datetime,
    &__place {
        margin-top: 4px;
        line-height: 19px;
        font-size: 16px;
        color: $gray-600;

        @include media-breakpoint-up(md) {
            // margin-top: 16px;
            font-size: 18px;
        };
    }
    &__place .place-text {
        &:before {
            content: '\f041';
            font-family: 'kontramarka-icons';
            margin-right: .2em;
            font-size: .9em;
            color: $gray-400;
        }
    }

    .favorites {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;

        @include media-breakpoint-down(sm) {
            span {
                display: none
            }
        }
        @include media-breakpoint-between(md, sm) {
            line-height: 1;
        };
    }
    .place-on-plan {
        margin-top: 20px;

        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 32px;
            right: 0;
        };
    }
}
