.event-info {
    position: relative;
    @include clearfix;
    // margin-bottom: 20px;
    // @include media-breakpoint-up(xl) {
    //     margin-bottom: 30px;
    // };

    &__main {
        display: flex;
        flex-direction: column;
        // min-height: 100px;
        justify-content: space-between;
        // overflow: hidden;
        @include media-breakpoint-up(lg) {
            padding-right: 240px;
        };
    }
    &:not(.extended) &__main {
        min-height: 63px;
        @include media-breakpoint-up(sm) {
            min-height: 100px;
        };
    }
    &__extend {
        position: relative;
        margin-top: 20px;
    }

    &__pic {
        float: left;
        display: inline-block;
        max-width: 70px;
        width: 45px;
        margin-right: 14px;

        .event-info:not(.extended) > & {
            @include media-breakpoint-up(sm) {
                width: 70px;
            };
        }
        .extended > & {
            @include media-breakpoint-up(md) {
                width: 220px;
                max-width: 220px;margin-right: 24px;
            };
        }
    }

    &__title {
        display: block;
        margin-bottom: 0;
        // padding-right: 48px; // for favorites button
        font-size: 20px;
        line-height: 1;
        color: $gray-800;

        @include media-breakpoint-up(md) {
            // padding-right: 230px; // for favorites button
            font-size: 24px;
            color: theme-color(secondary);
        };
    }

    &__datetime,
    &__place {
        margin-top: 4px;
        // margin-top: 12px;
        line-height: 19px;
        font-size: 16px;
        color: $gray-600;

        @include media-breakpoint-up(sm) {
            margin-top: 4px;
        };
        @include media-breakpoint-up(md) {
            margin-top: 6px;
            font-size: 18px;
        };
    }
    &__place {
        &:before {
            content: '\f041';
            font-family: 'kontramarka-icons';
            margin-right: .2em;
            font-size: .9em;
            color: $gray-400;
        }
    }

    .favorites {
        position: absolute;
        top: -4px;
        right: 0;
        font-size: 18px;

        @include media-breakpoint-down(sm) {
            span {
                display: none
            }
        }
        @include media-breakpoint-between(md, sm) {
            line-height: 1;
        };
    }
    .place-on-plan {
        // margin-top: 20px;
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
            position: absolute;
            // top: 32px;
            // bottom: 0;
            top: -20px;
            transform: translateY(-100%);
            right: 0;
        };
    }

    & + .scheme {
        @include media-breakpoint-up(lg) {
            margin-top: 20px;
        };
    }
}
