.form-control {
    position: relative;
    padding: 0;
    border: 2px solid $gray-200;
    font-size: 18px;
    background: $white;
    transition: none;
    overflow: hidden;

    @include placeholder {
        font-size: 18px;
        transition: all .25s ease;
        @include light-text();
    }

    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: inline-table;
        max-width: 100%;
        padding: 20px 30px;
        font-size: 18px;
        line-height: 20px;
        transition:
            padding .25s ease,
            line-height .25s ease,
            font-size .25s ease;

        &.pull {
            &-right {
                right: 0;
                left: auto;
            }
            &-left {
                right: auto;
                left: 0;
            }
        }
        &.static {
            padding: 10px 16px 3px;
            line-height: 16px;
            font-size: 14px;
        }
    }
    input, textarea {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        padding: 24px 16px 6px 16px;
        border: none;
        background: transparent;
        z-index: 2;
    }
    input {
        height: 60px;
    }
    textarea {
        min-height: 60px;
    }

    &.active,
    &.filled {
        .placeholder {
            padding: 10px 16px 3px;
            line-height: 16px;
            font-size: 14px;
        }
    }

    @each $color in map-keys($theme-colors) {
        &.has-#{$color} {
            $value: theme-color($color);
            border-color: $value;

            .placeholder {
                color: $value;
            }
        }
    }
}

input.form-control {
    padding: $input-btn-padding-y $input-btn-padding-x;
    border: 1px solid theme-color(light);
    font-size: 18px;
    transition: box-shadow .25s ease;
    @include placeholder {
        font-size: 18px;
        @include light-text();
        transition: all .25s ease;
    }

    &:focus {
        border: 1px solid theme-color(light);
        box-shadow: 0 3px 16px 0 rgba($black, .12);

        @include placeholder {
            color: rgba($black, .32);
        }
    }
}

.form-group {
    .form-control {
        &:not(:last-of-type) {
            border-bottom-width: 0;
        }

        &.active {
            border-color: theme-color(secondary);
            border-bottom-width: 2px;

            + .form-control {
                border-top-width: 0;
            }
        }
        // &:not(:first-of-type) {
        //     border-top-width: 1px;
        // }
    }
}

.form-check {
    &-label {
        line-height: 1.45em;
    }
}
