.form-control {
    position: relative;
    padding: 0;
    border: 2px solid $gray-200;
    font-size: 18px;
    background: $white;
    transition: none;
    overflow: hidden;

    @include placeholder {
        font-size: 18px;
        transition: all .25s ease;
        @include light-text();
    }

    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: inline-table;
        max-width: 100%;
        padding: 20px 30px;
        font-size: 18px;
        line-height: 20px;
        transition:
            padding .25s ease,
            line-height .25s ease,
            font-size .25s ease;

        &.pull {
            &-right {
                right: 0;
                left: auto;
            }
            &-left {
                right: auto;
                left: 0;
            }
        }
        &.static {
            padding: 10px 16px 3px;
            line-height: 16px;
            font-size: 14px;
        }
    }
    input, textarea {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        padding: 24px 16px 6px 16px;
        border: none;
        background: transparent;
        z-index: 2;
    }
    input {
        height: 60px;
    }
    textarea {
        min-height: 60px;
    }

    &.active,
    &.filled {
        .placeholder {
            padding: 10px 16px 3px;
            line-height: 16px;
            font-size: 14px;
        }
    }

    @each $color in map-keys($theme-colors) {
        &.has-#{$color} {
            $value: theme-color($color);
            border-color: $value;

            .placeholder {
                color: $value;
            }
        }
    }
}

input.form-control {
    padding: $input-btn-padding-y $input-btn-padding-x;
    border: 1px solid theme-color(light);
    font-size: 18px;
    transition: box-shadow .25s ease;
    @include placeholder {
        font-size: 18px;
        @include light-text();
        transition: all .25s ease;
    }

    &:focus {
        border: 1px solid theme-color(light);
        box-shadow: 0 3px 16px 0 rgba($black, .12);

        @include placeholder {
            color: rgba($black, .32);
        }
    }
}

.form-group {
    .form-control {
        &:not(:last-of-type) {
            border-bottom-width: 0;
        }

        &.active {
            border-color: theme-color(secondary);
            border-bottom-width: 2px;

            + .form-control {
                border-top-width: 0;
            }
        }
        // &:not(:first-of-type) {
        //     border-top-width: 1px;
        // }
    }
    .btn {
        display: block;
        width: 100%;
    }
}

@mixin form-group-inline {
    display: flex;

    .form-control,
    .btn {
        flex: 1 0 1%;
    }
    .form-control:not(:last-of-type) {
        border-bottom-width: 2px;
    }
    .form-control + .form-control {
        margin-left: 20px;
    }
}

.form-group-inline {
    @include form-group-inline;

    &-xs {
        @include media-breakpoint-down(xs) {
            @include form-group-inline;
        }
    }
    &-sm {
        @include media-breakpoint-between(sm, sm) {
            @include form-group-inline;
        }
    }
    &-md {
        @include media-breakpoint-between(md, md) {
            @include form-group-inline;
        }
    }
    &-lg {
        @include media-breakpoint-between(lg, lg) {
            @include form-group-inline;
        }
    }
    &-xl {
        @include media-breakpoint-up(xl) {
            @include form-group-inline;
        }
    }

    @each $dimension in map-keys($grid-breakpoints) {
        &-#{$dimension}-up {
            @include media-breakpoint-up($dimension) {
                @include form-group-inline;
            }
        }
        &-#{$dimension}-down {
            @include media-breakpoint-down($dimension) {
                @include form-group-inline;
            }
        }
    }
}

.form-check {
    &-label {
        line-height: 1.45em;
    }
}

.form-select {
    position: relative;

    select {
        -webkit-appearance: none;
        border: none;
        border-radius: 0;
        outline: none;
        background: none;
        position: relative;
        z-index: 2;
        padding-right: 16px;
        cursor: pointer;
    }

    &:after {
        content: '\f078';
        display: block;
        font-family: 'FontAwesome';
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 12px;
        color: theme-color(primary);
    }
}

@mixin counter {
    position: relative;
    display: flex;
    // width: 100px;

    &__control {
        display: block;
        width: 24px;
        font-size: 16px;
        text-align: center;
        color: theme-color(primary);
        cursor: pointer;

        &:hover {
            color: theme-color(secondary);
        }

        &.prev {
            margin-right: 6px;
        }
        &.next {
            margin-left: 6px;
        }
        &.disabled {
            color: $gray-300;
            cursor: default;
        }
    }
    select {
        position: relative;
        display: block;
        padding-right: 0;
        // width: 50%;
        text-align: center;
        text-align-last:center;

        option {
            text-align: left;
        }
    }

    &:after {
        // display: none;
        visibility: hidden;
    }
}

.counter {
    @include counter;

    @each $viewport in map-keys($grid-breakpoints) {
        &-#{$viewport}-up {
            @include media-breakpoint-up(#{$viewport}) {
                @include counter;
            };
        }
        &-#{$viewport}-down {
            @include media-breakpoint-down(#{$viewport}) {
                @include counter;
            };
        }

        &-off-#{$viewport}-up {
            @include media-breakpoint-up(#{$viewport}) {
                .counter__control {
                    display: none;
                }
                &.form-select {
                    display: inline-block;
                    width: auto;

                    select {
                        position: relative;
                        display: inline-block;
                        padding-right: 16px;
                        width: auto;
                        text-align: left;
                        text-align-last: left;
                    }
                    &:after {
                        visibility: visible;
                    }
                }
            };
        }
        &-off-#{$viewport}-down {
            @include media-breakpoint-down(#{$viewport}) {
                .counter__control {
                    display: none;
                }
                &.form-select {
                    display: inline-block;
                    width: auto;

                    select {
                        position: relative;
                        display: inline-block;
                        padding-right: 16px;
                        width: auto;
                        text-align: left;
                        text-align-last: left;
                    }
                    &:after {
                        visibility: visible;
                    }
                }
            };
        }
    }
}
