.form-control {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 0;
    border: 2px solid $gray-200;
    font-size: 18px;
    background: $white;
    transition: none;
    overflow: hidden;

    @include placeholder {
        font-size: 18px;
        transition: all .25s ease;
        @include light-text();
    }

    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: inline-table;
        max-width: 100%;
        padding: 20px 30px;
        font-size: 18px;
        line-height: 20px;
        color: $gray-500;
        transition:
            padding .25s ease,
            line-height .25s ease,
            font-size .25s ease;

        &.pull {
            &-right {
                right: 0;
                left: auto;
            }
            &-left {
                right: auto;
                left: 0;
            }
        }
        &.static {
            padding: 10px 16px 3px;
            line-height: 16px;
            font-size: 14px;
        }
        &.compact {
            padding: {
                right: 16px;
                left: 16px;
            }
        }
        &.required {
            &:after {
                content: '*';
                position: relative;
                top: -.1em;
                right: -.1em;
                float: right;
                font-size: 1.2em;
                color: $red;
            }
        }
    }
    input, textarea, select {
        position: relative;
        display: block;
        flex: 1 0 auto;
        margin: 0;
        padding: 24px 16px 6px 16px;
        border: none;
        background: transparent;
        z-index: 2;

        &:disabled {
            color: $gray-500;
            -webkit-text-fill-color: $gray-500;
        }
    }
    input {
        height: 60px;

        &.countrycode {
            flex: 0 0 auto;
            width: 50px;
            padding-right: 0;

            + input {
                padding-left: 0;
            }
        }
    }
    textarea {
        min-height: 60px;
    }
    select {
        width: 100%;
        padding-right: 32px;
    }

    .form-select {
        flex: 1 0 auto;

        select {
            line-height: 30px;
        }
        &:after {
            right: 16px;
            color: theme-color(secondary);
            top: 30px;
            transform: translateY(0);
        }
    }

    &--avatar {
        .avatar {
            margin: -2px;
        }
    }

    &.verified {
        padding-right: 32px;

        &:after {
            content: '\f00c';
            font-family: 'kontramarka-icons';
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            font-size: 14px;
            color: $secondary;
        }
    }

    &.active,
    &.filled,
    &.always-open {
        .placeholder {
            padding: 10px 16px 3px;
            line-height: 16px;
            font-size: 14px;
        }
    }

    &.active {
        z-index: 2;
        border-color: theme-color(secondary);

        .placeholder {
            color: $gray-600;
        }
    }

    @each $color in map-keys($theme-colors) {
        &.has-#{$color} {
            $value: theme-color($color);
            border-color: $value;

            .placeholder {
                color: $value;
            }
        }
    }
}

input.form-control {
    padding: $input-btn-padding-y $input-btn-padding-x;
    border: 1px solid theme-color(light);
    font-size: 18px;
    transition: box-shadow .25s ease;
    @include placeholder {
        font-size: 18px;
        @include light-text();
        transition: all .25s ease;
    }

    &:focus {
        border: 1px solid theme-color(light);
        box-shadow: 0 3px 16px 0 rgba($black, .12);

        @include placeholder {
            color: rgba($black, .32);
        }
    }
}

.form-group {
    margin-bottom: 20px;

    .form-control + .form-control {
        margin-top: -2px;
    }
    .btn {
        display: block;
        width: 100%;
    }
}

@mixin form-group-inline {
    display: flex;
    flex-wrap: wrap;

    .form-control,
    .btn {
        flex: 1 0 1%;

        &.basis {
            &-fourth {
                flex-basis: 25%;
            }
            &-half {
                flex-basis: 50%;
            }
        }
    }

    .form-control + .form-control {
        margin: {
            top: 0;
            left: -2px;
        }
    }

    &.row-like {
        .form-control + .form-control {
            margin: {
                top: 0;
                left: 20px;
            }
        }
    }

    .form-control {
        @each $dimension in map-keys($grid-breakpoints) {
            &.full-width-#{$dimension}-down {
                @include media-breakpoint-down($dimension) {
                    flex-basis: 100%;
                    border-right-width: 2px;
                    border-left-width: 2px;

                    + .form-control {
                        margin-left: 0;
                    }
                    &:not(:first-of-type) {
                        margin-top: -2px;
                    }
                    &:not(:last-of-type) {
                        margin-bottom: -2px;
                    }
                }
            }
        }
    }
}

.form-group-inline {
    @include form-group-inline;

    &-xs {
        @include media-breakpoint-down(xs) {
            @include form-group-inline;
        }
    }
    &-sm {
        @include media-breakpoint-between(sm, sm) {
            @include form-group-inline;
        }
    }
    &-md {
        @include media-breakpoint-between(md, md) {
            @include form-group-inline;
        }
    }
    &-lg {
        @include media-breakpoint-between(lg, lg) {
            @include form-group-inline;
        }
    }
    &-xl {
        @include media-breakpoint-up(xl) {
            @include form-group-inline;
        }
    }

    @each $dimension in map-keys($grid-breakpoints) {
        &-#{$dimension}-up {
            @include media-breakpoint-up($dimension) {
                @include form-group-inline;
            }
        }
        &-#{$dimension}-down {
            @include media-breakpoint-down($dimension) {
                @include form-group-inline;
            }
        }
    }
}

.form-check {

    &-input {
        display: none;
    }

    &-label {
        line-height: 1.45em;
        padding-left: 0;
    }
    &-label:hover &-text:before {
        border-color: $secondary;
    }

    &-text {
        position: relative;
        display: inline-block;
        padding-left: 32px;
        color: $black;
        font-size: 18px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }

        &:before {
            background: $white;
            border: 2px solid $gray-200;
            transition: border .2s cubic-bezier(0.3, 0.74, 0.36, 1);
        }

        &:after {
            content: '\f00c';
            font-family: 'kontramarka-icons';
            width: 24px;
            text-align: center;
            line-height: 24px;
            font-size: 0;
            color: $white;
            transition: font-size .2s cubic-bezier(0.68, -0.55, 0.27, 1.55) .1s;
        }
    }
    &-input:checked + &-text {
        &:before {
            border: 12px solid $secondary;
        }
        &:after {
            font-size: 12px;
        }
    }

    &-input[type="radio"] + &-text {
        &:before {
            border-radius: 50%;
            border-width: 2px;
        }
        &:after {
            content: '';
            background: transparent;
            border-radius: 50%;
            transition:
                transform .2s cubic-bezier(0.33, 1.81, 0.5, 0.5),
                background .2s ease;
        }
    }
    &-input[type="radio"]:checked + &-text {
        &:after {
            background: $secondary;
            transform: scale(0.3);
        }
    }
}

.form-select {
    position: relative;

    select {
        -webkit-appearance: none;
        border: none;
        border-radius: 0;
        outline: none;
        background: none;
        position: relative;
        z-index: 2;
        padding-right: 16px;
        cursor: pointer;
    }

    &:after {
        content: '\f078';
        display: block;
        font-family: 'FontAwesome';
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 12px;
        color: theme-color(primary);
    }

    &.disabled:after {
        color: $gray-500;
    }
}

@mixin counter {
    position: relative;
    display: flex;

    &__control {
        display: block;
        width: 25px;
        font-size: 16px;
        text-align: center;
        color: $primary;
        cursor: pointer;

        &:hover {
            color: $secondary;
        }

        &.prev {
            margin-right: 6px;
        }
        &.next {
            margin-left: 6px;
        }
        &.disabled {
            color: $gray-300;
            cursor: default;
        }
    }

    &__select {
        width: 30px;
        text-align: center;

        select {
            position: relative;
            display: inline-block;
            padding-right: 0;
            // width: 50%;
            text-align: center;
            text-align-last: center;

            option {
                text-align: left;
            }
        }
    }

    &:after {
        // display: none;
        visibility: hidden;
    }
}

.counter {
    @include counter;

    @each $viewport in map-keys($grid-breakpoints) {
        &-#{$viewport}-up {
            @include media-breakpoint-up(#{$viewport}) {
                @include counter;
            };
        }
        &-#{$viewport}-down {
            @include media-breakpoint-down(#{$viewport}) {
                @include counter;
            };
        }

        &-off-#{$viewport}-up {
            @include media-breakpoint-up(#{$viewport}) {
                .counter__control {
                    display: none;
                }
                &.form-select {
                    display: inline-block;
                    width: auto;

                    .counter__select {
                        width: auto;
                        display: inline-block;
                        text-align: left;

                        select {
                            position: relative;
                            display: inline-block;
                            padding-right: 16px;
                            width: auto;
                            text-align: left;
                            text-align-last: left;
                        }
                    }
                    &:after {
                        visibility: visible;
                    }
                }
            };
        }
        &-off-#{$viewport}-down {
            @include media-breakpoint-down(#{$viewport}) {
                .counter__control {
                    display: none;
                }
                &.form-select {
                    display: inline-block;
                    width: auto;

                    .counter__select {
                        width: auto;
                        display: inline-block;
                        text-align: left;

                        select {
                            position: relative;
                            display: inline-block;
                            padding-right: 16px;
                            width: auto;
                            text-align: left;
                            text-align-last: left;
                        }
                    }
                    &:after {
                        visibility: visible;
                    }
                }
            };
        }
    }
}
