.pagination {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: auto;
    font-size: 18px;
    line-height: 1.4;

    span, a {
        display: inline-block;
        min-width: 32px;
        height: 32px;
        line-height: 32px;
        padding: 1px 2px 0;
        margin: 0 1px;
        text-align: center;
        border: none;

        &:first-child,
        &:last-child {
            font-size: 0;
            background: none;

            &:before,
            &:after {
                display: inline-block;
                font-size: 16px;
            }
        }

        &:first-child {
            margin-right: 8px;

            &:before {
                content: '\f053';
                font-family: 'kontramarka-icons';
            }
        }

        &:last-child {
            margin-left: 8px;

            &:after {
                content: '\f054';
                font-family: 'kontramarka-icons';
            }
        }

        &:not(:first-child):not(:last-child) {
            @include media-breakpoint-down(sm) {
                display: none;
            };
        }

        // &:not(:first-child):not(:last-child) {
        //     margin: {
        //         right: 3px;
        //         left: 3px;
        //     }
        // }
    }

    span {
        color: $gray-400;

        &:not(:first-child):not(:last-child):not(.nav_ext) {
            display: inline-block !important;
            background: $body-bg;
            color: $black;
        }
    }
    a {
        color: $black;
        background: $primary;
        border-bottom: none;

        i {
            color: $primary;
        }

        &:hover {
            text-decoration: underline;
            border-bottom: none;
        }

        &:first-child,
        &:last-child {
            &:hover {
                background: $body-bg;
            }
        }
    }

    span, a, i {
        vertical-align: middle;
    }
}
.pag-nav {
    display: table;
    margin: {
        right: auto;
        left: auto;
    };

    .per-page,
    .pagination {
        padding: 12px 24px;
    }

    .per-page {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid light($black);
        font-size: 18px;
    }
    .pagination {
        padding: 12px 12px;
    }
}
.Nnavigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
