.pagination {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: auto;
    font-size: 18px;
    line-height: 18px;

    span {
        color: $gray-400;
        border-bottom: 1px solid transparent;
    }
    a {
        color: $black;

        i {
            color: $primary;
        }
    }

    span, a, i {
        vertical-align: middle;
    }

    span, a {
        display: inline-block;
        padding: 1px 2px 0;
        // min-width: 20px;
        text-align: center;

        &:first-child,
        &:last-child {
            border-bottom: 1px solid transparent;
        }
        &:first-child {
            margin-left: -10px;
        }
        &:last-child {
            margin-right: -10px;
        }
        &:not(:first-child):not(:last-child) {
            margin: {
                right: 3px;
                left: 3px;
            }
        }
    }
}
