.schedule {
	@extend .box;

	&__row {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		padding: 12px;
		line-height: 24px;
		@include media-breakpoint-up(sm) {
			padding: 12px 0;
		};

		& + & {
			border-top: 1px solid light($black);
		}

		&--header {
			// padding: 0;
			background: theme-color(secondary);
			color: $white;
			font-size: 18px;

			i {
				margin-right: 2px;
			}

			@include media-breakpoint-up(sm) {
				padding: 0;
			};
		}
		&--header + & {
			border-top: none;
		}
	}

	&__col {
		position: relative;
		flex: 0 0 auto;
		padding: 0;
		@include clearfix;
		@include media-breakpoint-up(sm) {
			padding: 0 12px;
		};
		@include media-breakpoint-up(md) {
			padding: 0 36px;
		};
		@include media-breakpoint-up(lg) {

			& + & {
				border-left: 1px solid light($black);
			}
		};

		&--date {
			width: 84px;
			margin-right: 12px;
			text-align: left;
			font-size: 14px;
			@include media-breakpoint-up(sm) {
				width: 120px;
				margin-right: 0;
				border-right: 1px solid light($black);
			};
			@include media-breakpoint-up(md) {
				width: 240px;
				text-align: center;
			};
			@include media-breakpoint-up(lg) {
				border-right: none;
			};
		}
		&--place {
			flex: 1 1 0%;
		}
		&--action {
			flex: 1 0 100%;
			text-align: center;

			.btn {
				margin-top: 6px;

				&:not(.btn-primary) {
					padding: {
						right: 0;
						left: 0;
					}
				}
			}

			@include media-breakpoint-down(xs) {
				.btn {
					display: block;
					width: 100%;
					font-size: 16px;
				}
			};
			@include media-breakpoint-up(lg) {
				flex: 0 0 auto;
				width: 338px;
				padding-left: 60px;
				text-align: left;

				.btn {
					margin-top: 0;
				}
			};


		}

		.eticket {
			display: none;
			position: absolute;
			top: 0;
			// top: 50%;
			// transform: translateY(-50%);
			color: $gray-400;
			font-size: 18px;
			padding: 12px 0;

			@include media-breakpoint-up(lg) {
				display: block;
				left: 18px;
			};
		}
	}

	&__row--header > &__col {
		// padding: 8px 8px;
		font-size: 16px;
		border-color: light($white);
		@include media-breakpoint-up(sm) {
			padding: 12px;
		};
		@include media-breakpoint-up(md) {
			// font-size: 20px;
			padding: 12px 36px;
		};

		i {
			margin-left: -4px;
		}

		&:before {
			content: '';
			display: none;
		}
	}

	.date {
		font-size: 16px;
		font-weight: bold;
		color: $black;
		@include media-breakpoint-up(md) {
			font-size: 20px;
		};
	}
	.day {
		@include media-breakpoint-up(md) {
			padding-right: 3px;
			display: inline-block;
		};
	}
	.time {
		@include media-breakpoint-up(md) {
			display: inline-block;
		};
		&:before {
			content: '\f017';
			font-family: 'FontAwesome';
			margin-right: 4px;
			color: $gray-400;
		}
		&-finish {
			&:before {
				content: '-';
			}
		}
	}
	.city {
		color: theme-color(secondary);
		font-size: 16px;

		@include media-breakpoint-up(md) {
			font-size: 20px;
		};
	}
	.place {
		font-size: 14px;
		color: $gray-600;
	}
	.title {
		background: light($black);
		margin: 0;
		padding: 12px;
		text-align: center;
		color: $gray-600;
	}
}
