.scroll-shadow {
    position: relative;
    // border-top: 1px solid $gray-200;
    // border-bottom: 1px solid $gray-200;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        right: 0;
        left: 0;
        height: 10px;
        transition: background-size .2s ease;
    }

    &:before {
        top: 0;
        background: radial-gradient(farthest-side at 50% 0%, rgba(0, 0, 0, .18), rgba(0, 0, 0, 0)) 100% 0;
        background-repeat: no-repeat;
        background-size: 100% 0;
    }
    &:after {
        bottom: 0;
        border-top-width: 1px;
        background: radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .18), rgba(0, 0, 0, 0)) 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 0;
    }

    &__outer {
        position: relative;
        overflow: hidden;
    }
    &__scroller {

        position: absolute;
        z-index: 1;
        left: 0;
        overflow-x: hidden;
        overflow-y: scroll;

        ::-webkit-scrollbar {
            display: none;
        }
    }
    &__target {
        border-top-width: 0 !important;
        border-bottom-width: 0 !important;
    }

    &__scrollbar {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 2px;

        .bar {
            position: absolute;
            right: 0;
            display: block;
            width: 2px;
            background: theme-color(primary);
        }
    }

    &.not-start:before {
        background-size: 100% 8px;
    }
    &.not-end:after {
        background-size: 100% 8px;
    }
}
