@mixin slidable {
    position: relative;

    &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 2px;
        z-index: 1;
        display: block;
        width: $container-padding-x;
    }
    &:before {
        left: 0;
        background: linear-gradient(90deg, $purple, rgba($purple, 0));
    }
    &:after {
        right: 0;
        background: linear-gradient(-90deg, $purple, rgba($purple, 0));
    }

    .sliding-box {
        @each $bp in map-keys($grid-breakpoints) {
            &.sliding-#{$bp} {
                @include media-breakpoint-down($bp) {
                    overflow-x: auto;
                };
            }
        }
    }
}

%slidable {
    @include slidable;
}
.slidable {
    @extend %slidable;
}
