// Typography
//
// Fonts and text styles

// FontAwesome
$fa-font-path: '../fonts/font-awesome';
@import "font-awesome/font-awesome.scss";

// Kontramarka Icons
$icons-font-path: '../fonts/kontramarka-icons';
@import "icons/_kontramarka-icons.scss";
// url('../font/kontramarka-icons.
// url('#{$icons-font-path}/kontramarka-icons.
[class^="icon-"]:before,
[class*=" icon-"]:before {
    display: inline-block;
}
.icon-check:before {
    margin: {
        right: 0;
        left: 0;
    };
    width: 1.2em;
}
.icon-brand-logo {
    &.colored {
        color: transparent;
        background: url('../images/logo-no-text-2.svg') center no-repeat;
        background-size: 64%;
        background-position: 32% 50%;
    }
}
// .btn {
//     &:not(.btn-round):not(.btn-square) {
//         [class^="icon-"] {
//             display: inline-block;
//             font-size: .64em;
//             vertical-align: middle;
//         }
//     }
// }


// Source Sans Pro
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf');
	font-weight: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf');
	font-weight: bold;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/source-sans-pro/SourceSansPro-Light.otf');
	font-weight: 300;
}

body {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: normal;
    color: $black;
	-webkit-font-smoothing: antialiased;
}
a {
    cursor: pointer;
}
p {
	font-size: 16px;
	line-height: 1.5;
}
small, .small {
	font-size: 12px;
    font-weight: inherit;
}

@include media-breakpoint-down(md){
    h1, .h1 {
        font-size: 24px;
    }
    h2, .h2 {
        font-size: 20px;
    }
    h3, .h3 {
        font-size: 18px;
    }
    h4, .h4 {
        font-size: 16px;
    }
};
