// Kontramarka.de
// Main site theme
//
// Styles in this file follow 'Mobile First' strategy, and first of all describes
// interface for xs-devices, but also contains styles for larger devices.
//
// Version 0.1

// Plugins
@import "slick/slick.scss";

// Bootstrap
@import "base";
@import "variables";

// Custom
@import "mixins";
@import "animations";

@import "typography";

@import "grid";

@import "form";
@import "buttons";
@import "dropdown";
@import "autocomplete";
@import "language";
@import "calendar";
@import "slidable";
@import "draggable";
@import "scroll-effects";
@import "nav-tabs";
@import "badge";
@import "card";
@import "event";
@import "box";
@import "breadcrumbs";
@import "benefit";
@import "site-error";
@import "message";
@import "pagination";



// Main
//
// Main styles for common tags and containers

html {
    height: 100%;
    overflow-y: auto;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;

    > main {
        flex: 1 0 auto;
    }
    > footer {
        margin-top: 32px;

        @include media-breakpoint-up(lg) {
            margin-top: 100px;
        };
    }
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    position: relative;
    z-index: 1;
}
label {
    cursor: pointer;
}
.container {
    @include row-x-offsets($grid-gutters);

    &, &-fluid {
        padding-right: $container-padding-x;
        padding-left: $container-padding-x;
    }

    .no-gutters {
        @include no-gutters;
    }
}




// Utilities

.text-muted {
    @include text-muted();
}
.e2e {
    margin-right: -$container-padding-x;
    margin-left: -$container-padding-x;

    &-container {
        padding-right: $container-padding-x;
        padding-left: $container-padding-x;
    }

    @each $viewport in map-keys($grid-breakpoints) {
        &.e2e-off-#{$viewport}-up {
            @include media-breakpoint-up(#{$viewport}) {
                @include horz-indent-off;
            };
        }
        &.e2e-off-#{$viewport}-down {
            @include media-breakpoint-down(#{$viewport}) {
                @include horz-indent-off;
            };
        }
        &.e2e-off-#{$viewport}-only {
            @include media-breakpoint-only(#{$viewport}) {
                @include horz-indent-off;
            };
        }
    }
}
.fake-offset {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid $body-bg;
    z-index: 0;
}
.accent {
    box-shadow: 0 4px 40px 0 rgba($black, .18);
}
.crossed-out {
    text-decoration: line-through;
}

// Icons
a, button {
    cursor: pointer;
}
a, button, .btn {
    i + span {
        margin-left: .255em;
    }
}
a.link {
    @include link-appearance;
}
a.external {
    @include link-appearance;

    position: relative;
    margin-right: 1.2em;

    &:after {
        content: '\f08e';
        font-family: 'kontramarka-icons';
        position: absolute;
        right: 0;
        // bottom: .4em;
        padding-left: .4em;
        transform: translateX(100%);
        font-size: .8em;
    }
}


// Components
.preloading {
    position: relative;
    // box-shadow: none;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0 0 0 4px rgba(0, 0, 0, .06);
        z-index: 0;
    }
    &:after {
        content: '\f123';
        font-family: 'kontramarka-icons';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 100px;
        margin: auto;
        text-align: center;
        color: rgba(0, 0, 0, .06);
        z-index: 0;
    }

    img {
        z-index: 1;
    }

    &--sm {
        &:after {
            width: 42px;
            height: 42px;
            line-height: 42px;
            font-size: 42px;
        }
    }
}

.bg-secondary {
    color: $white;

    .text-muted {
        color: rgba($white, 0.48) !important;
    }
}
.divider {
    display: block;
    height: 0;
    border-bottom: 1px solid $gray-200;
    @include clearfix;
}
.phone {
    position: relative;
    z-index: 2;
    display: block;
    padding-left: 24px;
    font-size: 18px;
    line-height: 20px;
    @include masked-link(true);

    i {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 16px;

        + div {
            padding-left: 8px;
        }
    }
    .number {
        font-weight: 600;

        .code {
            font-weight: 400;
        }
    }
    .time {
        position: relative;
        z-index: 1;
        margin-top: -4px;
        font-size: 12px;
        line-height: 20px;
    }
    &:hover {
        .number {
            text-decoration: underline;
        }
    }
}
.cart {
    &-outer {
        position: relative;

        i + span:not(.cart-count):first-of-type {
            margin-left: .5em;
        }
    }
    &-count {
        position: absolute;
        top: -8px;
        left: 10px;
    }
}
.hint {
    border-bottom: 1px dashed;
    line-height: inherit;
    font-size: .9em;
    cursor: default;

    &:hover {
        border-color: transparent;
    }

    &-popover {
        @extend .hint;
    }
}
.popover {
    max-width: 320px;
    box-shadow: 0 4px 40px 0 rgba(0,0,0,0.18);

    &-content {
        display: none;

        .popover & {
            display: block;
        }
    }
}
.tooltip {
    &-inner {
        font-size: 14px;
        line-height: 1.25;
        @include accent;
    }
}
.a4 {
    @include a4;
}

.full-list {
    display: flex;
    flex-flow: row wrap;

    &-item {
        display: inline-block;
        padding: 3px 6px;

        &:hover {
            background: $body-bg;
        }
    }
    &-col {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > .full-list-item {
            max-width: 150px;
        }
    }

    & > &-item {
        margin: {
            right: 6px;
            bottom: 6px;
        }
        background: $gray-200;
    }
}
.top-list {
    margin-bottom: 16px;

    li {
        position: relative;

        .number {
            position: absolute;
            left: 0;
            color: $black;
            margin: {
                right: 16px;
                left: 8px;
            }
        }
        a:not(.btn) {
            display: block;
            text-decoration: none;
            padding: 4px 0 6px 32px;
            color: $black;
            @include overflow-ellipsis;

            &:hover {
                color: theme-color(secondary);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 24px;
            border-bottom: 2px solid theme-color(primary);
            transition: all .175s cubic-bezier(.7, 0, .3, 1);
        }
        &:before {
            border-color: $body-bg;
            width: 100%;
        }

        &:hover {
            &:after {
                width: 100%;
            }
        }

        &:last-child {
            .number {
                margin: {
                    right: 12px;
                    left: 4px;
                }
            }
        }
    }
}

.block-title {
    display: flex;
    width: 100%;
    padding: 14px 20px;
    line-height: 19px;

    &__text {
        margin-right: auto;
        @include overflow-ellipsis;
        @include link-appearance;
    }
    &__label {
        flex-shrink: 0;
        margin-left: 8px;
        @include light-text;
    }

    &:hover {
        .block-title__text {
            border-bottom: 1px solid;
        }
    }
}

// Events row
.events {
    @include custom-grid($grid-gutters, $events-cols);
}
.events-4 {
    @include custom-grid($grid-gutters, $events-cols-4);
}

.events-horz-3 {
    @include custom-grid($grid-gutters, $events-horz-cols-3);
}
.events-horz-2 {
    @include custom-grid($grid-gutters, $events-horz-cols-2);
}
// Cities row
.cities {
    @include custom-grid($grid-gutters, $cities-cols);
}
// Benefits row
.benefits {
    @include custom-grid($grid-gutters, $benefits-cols);
}

// .eticket {
//     .fa-barcode {
//         transform: translateY(18%);
//     }
//     &:before {
//         content: 'E';
//         position: absolute;
//         top: 2%;
//         left: 22%;
//         z-index: 2;
//         color: $white;
//         line-height: 1;
//         font-size: 0.8em;
//         font-weight: bold;
//     }
// }
%action-block {
    display: block;
    padding: 0 18px;
    border-style: solid;
    border-color: $gray-200;
    border-width: 2px;
    font-size: 18px;
    color: $black;
}
%action-block-big {
    padding: 0 20px;
    @include media-breakpoint-up(lg){
        padding: 12px 30px;
    };
}
.action-block {
    @extend %action-block;
    &-big {
        @extend %action-block;
        @extend %action-block-big;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;

        & + & {
            border-top: 1px solid $gray-200;
        }

        .value {
            margin-left: .5em;
        }
    }
    &-highlited {
        border-color: $secondary;
    }
}

.kontramarka-logo {
    background: url('../images/logo.svg') center center no-repeat;
    background-size: contain;
}


.checklist {
    &__item {
        position: relative;
        line-height: 24px;
        margin-bottom: 4px;
        padding-left: 1.6em;

        &:before {
            content: '\f00c';
            font-family: 'kontramarka-icons';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            margin-right: .6em;
            font-size: .8em;
            color: theme-color(secondary);
        }
    }
}

.cart-box {
    @include media-breakpoint-down(md) {
        .checklist {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .checklist__item {
                flex: 1 0 50%;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .box-body {
            position: relative;
            min-height: 286px
        }
        &.login {
            .btn {
                position: relative;
                top: 20px;
            }
        }

        &.register,
        &.guest {
            .btn {
                position: absolute;
                right: 30px;
                bottom: 30px;
                left: 30px;
            }
        }
    }
}
.d-flex-col {
    @extend .d-flex;
    flex-direction: column;
}
.address-block {
    position: relative;
    @include row-x-offsets($offsets-map: (xs: 20px, sm: 20px, md: 20px, lg: 20px, xl: 20px));

    &__title {
        font-size: 24px;
    }

    .note {
        &.on {
            &-top {
                margin: {
                    top: -10px;
                    bottom: 20px;
                }
                font-size: 14px;
                @include light-text;
                @include media-breakpoint-up(md) {
                    display: none;
                };
            }
            &-bottom {
                @include media-breakpoint-down(sm) {
                    display: none;
                };
            }
        }
    }
}
.delivery-block {
    @include row-x-offsets($offsets-map: (xs: 20px, sm: 20px, md: 20px, lg: 20px, xl: 20px));

    &__title {
        font-size: 24px;
    }

    .payment {
        @include media-breakpoint-down(sm) {
            margin-top: 20px;
        };
    }

    .form-check {
        &-label {
            display: block;
        }
        &-text {
            display: flex;
            flex-wrap: wrap;

            .descr {
                flex: 0 0 auto;
                width: 100%;

                img {
                    &.paypal {
                        height: 22px;
                    }
                    &.visa {
                        height: 18px;
                    }
                    &.mastercard {
                        height: 22px;
                    }
                }
                img + img {
                    margin-left: 6px;
                }

                @include media-breakpoint-up(sm) {
                    width: 180px;
                };
                &.small {
                    @include media-breakpoint-down(xs) {
                        width: 120px;
                    };
                }
            }
        }
    }
    .form-check-label + .form-check-label {
        margin-top: 1rem;
    }
}
.plain-text {
    color: $gray-600;
}
.cart-total {
    text-transform: uppercase;
    font-size: 20px;

    @include media-breakpoint-down(xs){
        display: block;
        margin: 0 auto;
        text-align: center;
    };
    @include media-breakpoint-up(sm) {
        font-size: 22px;
    };
}

.master-remove {
    $size: 32px;

    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: $size;
    height: $size;
    background: transparent;
    border: 2px solid $secondary;
    line-height: $size;
    text-align: center;
    cursor: pointer;
    // color: $white;
    // color: $secondary;
    color: $secondary;
    transition:
        background .1s ease-in-out,
        color .1s ease-in-out;

    &:before {
        content: '×';
        // font-family: 'kontramarka-icons';
        font-weight: bold;
        font-size: $size;
        line-height: $size - 4px;
    }

    &:hover {
        background: $secondary;
        border: 2px solid $secondary;
        color: $white;
        // color: $secondary;
    }
}

.edges {
    border-style: solid;
    border-color: $gray-200;

    &-y {
        border-top-width: 1px;
        border-bottom-width: 1px;
    }
    &-x {
        border-right-width: 1px;
        border-left-width: 1px;
    }
}

.user-info {
    display: flex;
    align-items: center;
}
.avatar {
    position: relative;
    display: inline-block;
    flex: 0 0 auto;
    width: 64px;
    height: 64px;
    margin-right: 1em;
    overflow: hidden;
    border: 2px solid $gray-200;

    img {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:before {
        content: '\f007';
        font-family: 'kontramarka-icons';
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 46px;
        line-height: 1;
        color: $gray-200;
    }
}

.fileinput {
    display: flex;
    flex-flow: row wrap;

    &-exists &-new,
    &-new &-exists {
        display: none !important;
    }
}






// Page sections
//
// Sections must be unique for the page and start with #id

// Header
#cookiesNote {
    line-height: 24px;
    padding: 16px 0;
    color: $light-text;
    text-align: left;

    .note {
        position: relative;
        padding-right: 20px;

        a {
            text-decoration: underline;
            color: $white;

            &.close-note {
                position: absolute;
                top: 0;
                right: -6px;
                display: inline-block;
                width: 24px;
                font-size: 22px;
                line-height: 20px;
                text-decoration: none;
                text-align: center;
            }
        }
    }
}
@import "top-menu";
@import "main-menu";
@import "pace";

#mainMenu {
    margin-bottom: 2px;
    background: $white;
    transition: box-shadow .225s ease;

    a {
        white-space: nowrap;
    }

    &:not(.fixed-top) {
        position: relative;
    }
    &.fixed-top {
        box-shadow: 0 3px 18px 0 rgba(0,0,0,0.18);
    }
    &.open {
        z-index: $zindex-modal;
    }
}


// Footer
#subscribe {
    padding: 20px 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        max-width: 450px;
        font-size: 28px;
        text-align: center;
        line-height: 1.1em;
    }
    .form {
        width: 100%;
        margin: 16px 0;

        @include media-breakpoint-down(xs) {
            .input-group {
                flex-wrap: wrap;

                .form-control:not(.active):not(.filled) {
                    .placeholder {
                        text-align: center;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
                .btn {
                    width: 100%;
                    margin-top: 10px;
                }
            }
        };
    }
    .secure {
        @include media-breakpoint-only(lg) {
            display: flex;
            align-items: center;
            max-width: 100px;

            i + span {
                line-height: 1.2em;
            }
        };

        i + span {
            margin-left: 2px;
        }
    }
}
#footMenu {
    .container {
        position: relative;

        #scrollToTop {
            @include media-breakpoint-down(xs) {
                top: auto;
                right: $container-padding-x;
                transform: translate(0, 150%);
                bottom: 0;
            };
        }
    }
    h4 {
        margin-bottom: 15px;
    }
    .links-list {
        padding-bottom: 24px;

        a {
            @include link-appearance;
        }
    }
}
#footMenuAccordion {
    h4 {
        margin-bottom: 0;

        a {
            display: block;
            padding: 16px 0;
            color: inherit;
            text-decoration: none;
            @include clearfix;

            &:after {
                content: '\f107'; // angle
                // content: '\f078'; // chevron
                font-family: 'FontAwesome';
                float: right;
                // font-size: 0.8em;
                // margin-top: 0.1em;
                // @include light-text;
            }

            &[aria-expanded=true] {
                &:after {
                    content: '\f106'; // angle
                    // content: '\f077'; // chevron
                }
            }
        }
    }
}
#facebookWidget {
    position: relative;
    min-height: 216px;
    background: $body-bg;

    &:before {
        content: '\f230';
        font-family: 'FontAwesome';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin: auto;
        font-size: 50px;
        text-align: center;
        @include light-text($black, 0.32);
    }
}
#footInfo {
    padding: 10px 0 24px;

    a {
        @include link-appearance;
    }
    .row.text {
        text-align: center;

        & > div {
            padding: {
                top: 11px;
                bottom: 11px;
            }
        }

        .copyright {
            @include light-text;
            @include media-breakpoint-down(md) {
                padding-bottom: 0;
            };
        }
    }
    .payment-methods {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;

        .method {
            padding: 10px 0;
            margin-right: 10px;

            & > div {
                display: block;
                height: 26px;

                &.visa {
                    width: 48px;
                }
                &.mastercard {
                    width: 38px;
                }
                &.paypal {
                    width: 60px;
                }
                &.vorkasse {
                    width: 76px;
                }

                $methods: mastercard visa paypal vorkasse;
                @each $method in $methods {
                    &.#{$method} {
                        background: url('../images/brands/#{$method}.svg') no-repeat center;
                        background-size: contain;
                    }
                    &.#{$method}.mono {
                        background: url('../images/brands/mono/#{$method}.png') no-repeat center;
                        background-size: contain;
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// Page blocks
.page-title {
    text-align: left;
    font-size: 24px;
    margin: 32px 0;

    .undertitle {
        margin-top: 4px;
        font-size: 14px;
        @include light-text;

        &:before {
            content: '\f133';
            font-family: 'FontAwesome';
            margin-right: 10px;
            margin-left: 1px;
        }
    }
    @include media-breakpoint-up(lg) {
        font-size: 36px;
    }

    .box & {
		margin: 0;
		line-height: 1.2;
	    margin-bottom: 32px;
    }
}
.page-block {
    $margin: 24px;

    margin: $margin auto;

    &-title {
        margin-bottom: $margin;
        font-size: 24px;
    }
    &-action {
        margin: $margin auto;
        text-align: center;

        @include media-breakpoint-down(xs) {
            .btn.d-block {
                width: 100%;
            }
        };
    }

    .box {
        background: $white;
    }

    @include media-breakpoint-up(lg) {
        $margin: 32px;

        margin: $margin auto;

        &-title {
            margin-bottom: $margin;
            text-align: center;
            font-size: 32px;
        }
        &-action {
            margin: $margin * 2 auto;
        }
    };
}

// Main page
@import "slider";
#topSlider {
    @include media-breakpoint-down(xs) {
        margin-top: 0;
    };

    .slides,
    .slides .slide {
        height: $top-slider-height;
    }
    @include media-breakpoint-up(md) {
        .slides,
        .slides .slide {
            height: 320px;
        }
    };
    @include media-breakpoint-up(lg) {
        .slides,
        .slides .slide {
            height: 400px;
        }
    };
    @include media-breakpoint-up(xl) {
        .slides,
        .slides .slide {
            height: 510px;
        }
    };

    .slider {
        transition: box-shadow .3s ease;
    }
}
#currentEvents {
    .events {
        @include row-y-offsets($grid-gutters);
    }
}
#metaInfo {
    p {
    	font-size: 18px;
    	line-height: 1.56; // 28px
    }
}
#captcha {
    img {
        height: 88px;
    }
    a {
        display: block;
    }
}
header,
footer,
main {
    position: relative;
}
.scroll-to-top {
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    transform: translate3d(0, $btn-line-height + $btn-padding-y * 2 + $container-padding-x, 0);
    will-change: transform;
    transition: transform .215s cubic-bezier(0.22, 0.61, 0.36, 1),
                opacity .145s cubic-bezier(0.22, 0.61, 0.36, 1) .07s;

    .btn {
        position: absolute;
        right: $container-padding-x;
        bottom: $container-padding-x;
        background: $white;
        @include accent;
    }

    .show-to-top & {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    &.at-footer {
        position: absolute;
        bottom: auto;
        top: $container-padding-x + $btn-padding-y + $btn-line-height / 2;
    }
}
#promocode {
    max-width: 550px;
}
#confetti {
    display: block;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

@import "gallery";
@import "event-info";
@import "tickets-block";
@import "tour";
@import "schedule";
@import "comments";
@import "cart";
@import "credit-card";

// Modals
@import "modal";


// Adaptive
//
// Contains unique styles for sm-, md-, lg-, xl-devices

@import 'adaptive';

// Bug fixes

// input inside modal caret bug in iOS11
body.modal-open {
    padding-right: 0 !important;

    &.iosBugFixCaret {
        position: fixed;
        width: 100%;
    }
}



#test {
    min-height: 2000px;
}
