// /////////////////////////////// //
// Variables                       //
// /////////////////////////////// //

// Colors
$black: #000;
$default: #f7f7f7;
$light-gray: #e0e0e0;
$primary: #ffc800;
$secondary: #00398c;

// Labels
$label-colors: (
    empty:        #f7f7f7,
    marker:       #000000,
    sold:         #ef0000,
    reserve:      #ef0000,
    blue:         #21aad2,
    brown:        #652e0c,
    crimson:      #8e1222,
    cyan:         #12b6c5,
    darkblue:     #267aed,
    green:        #46c512,
    magenta:      #291065,
    orange:       #ea7208,
    purple:       #e815af,
    yellow:       #f2b603,
    lightgreen:   #67e532,
    cherry:       #a21447,
    highlight:    #ef0000,
    salmon:       #fa8072,
    khaki:        #8b864e
);
$label-positions: (
    empty:        0,  // gray round with gray stroke
    marker:       1,  // no bg, white checkmark
    sold:         2,  // white round with red stroke
    reserve:      3,  // red 'R', white round with red stroke
    blue:         4,  // #21aad2
    brown:        5,  // #652e0c
    crimson:      6,  // #8e1222
    cyan:         7,  // #12b6c5
    darkblue:     8,  // #267aed
    green:        9,  // #46c512
    magenta:      10, // #291065
    orange:       11, // #ea7208
    purple:       12, // #e815af
    yellow:       13, // #f2b603
    lightgreen:   14, // #67e532
    cherry:       15, // #a21447
    highlight:    16, // #ef0000
    salmon:       17, // #fa8072
    khaki:        18  // #8b864e
);
$labels-white-text: (blue, brown, crimson, cyan, darkblue, green, magenta, orange, purple, cherry, highlight, salmon, khaki);


// /////////////////////////////// //
// Styles                          //
// /////////////////////////////// //

* {
    box-sizing: border-box;
}

// Table
#plan_t {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    tbody {
        width: 100%;

        tr {
            display: flex;
            width: 100%;

            td {
                vertical-align: top;
            }
        }
    }

    &:not(.scheme-ready) {
        td:first-child {
            width: 100%;
            overflow: hidden;
        }
    }
}

// tr that contains Places container
#scheme_row {
    td:first-child {
        width: 100%;
        overflow: hidden;
    }
}

// Places container
#ZoomPlaceholder {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background: #f7f5f8;
    border: 2px solid $light-gray;

    height: 425px;
    @media (min-width: 540px) {
        height: 650px;
    }
}
// Places container's inner with background
#DataCopy {
    position: relative;

}

// Sidebar (td)
#maindata_wrapper {
    width: 270px;
    padding-left: 20px;

    @media (max-width: 991px) {
        display: none;
    };
}

// Minimap
#MainData {
    position: relative;
    margin-bottom: 20px;
    border: 2px solid $light-gray;
    background-size: contain !important;
}
// Minimap's draggable element
#helper {
    display: none;
    position: absolute;
    border: 2px solid $secondary;
    background: url('/upload/schemes/move-circle.svg') no-repeat center center;
    background-size: 38px 38px;
    cursor: move;
}

// Ticket-price groups
.tickets_group {
    display: flex;
    height: 18px;
    line-height: 18px;
    // padding-left: 30px;

    $labels-num: length($label-positions);
    &:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 4px;
        border-radius: 50%;
        background: url('/upload/schemes/labels.svg') 0 0 / 18px #{$labels-num * 18px} no-repeat;
    }

    @each $name, $position in $label-positions {
        &.#{$name}_label:before {
            background: url('/upload/schemes/labels.svg') 0 #{$position * -18px} / 18px #{$labels-num * 18px} no-repeat;
        }

        &.marker:before {
            background:
                url('/upload/schemes/labels.svg') 0 #{map-get($label-positions, marker) * -18px} / 18px #{$labels-num * 18px} no-repeat,
                url('/upload/schemes/labels.svg') 0 #{$position * -18px} / 18px #{$labels-num * 18px} no-repeat;
        }
    };
}
#groupbox {
    width: 100%;
    margin: 20px 0;
    color: #000;

    [id*="_ticket_group"] {
        flex: 0 0 50%;
        max-width: 50%;
    }

    &_inner {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .tickets_group {
            margin: 10px 0;
        }
    }
}

// Ticketbox
.ticket_point {
    position: relative;
    padding: 12px 20px 12px 0;
    font-size: 14px;
    line-height: 16px;

    p {
        margin: 0;
        line-height: 24px;
        font-size: 18px;
    }
    .delplace_btn {
        position: absolute;
        overflow: hidden;
        top: 12px;
        right: -4px;
        padding: 4px;
        color: $primary;
        font-size: 0em;
        line-height: 0;
        text-indent: 0;
        cursor: pointer;

        &:before {
            // content: '\f00d';
            // font-family: 'kontramarka-icons';
            // content: '\f00d';
            // font-family: 'FontAwesome';
            // font-size: 20px;
            content: '×';
            font-weight: bold;
            font-size: 32px;
            line-height: 16px;
            text-indent: initial;
        }

        &:hover {
            color: $secondary;
        }
    }
}
#ticketbox {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 0 18px;
    border: 2px solid $light-gray;
    font-size: 18px;
    color: #000;

    &_title {
        padding: 6px 0;
        text-align: center;
    }
    &_inner {
        position: relative;

        .ticket_point + .ticket_point {
            border-top: 1px solid $light-gray;
        }
    }
    &_form {
        position: relative;
        margin: 12px 0;
        text-align: center;

        &_btn {
            display: block;
            width: 100%;
            margin-bottom: 18px;
            padding: 12px 16px;
            background-color: #ffc800;
            border: 0 solid transparent;
            border-radius: 0;
            outline: none;
            user-select: none;
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
            line-height: 24px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: #111;
            transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
            cursor: pointer;

            &:hover,
            &:active {
                color: #111;
                background-color: #d9aa00;
                border-color: #cca000;
            }
            &:focus {
                box-shadow: 0 0 0 3px rgba(255,200,0,0.5);
            }
        }
    }
}
.scroll-shadow {
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        right: 20px;
        left: 0;
        height: 10px;
        transition: background-size .2s ease;
    }

    &:before {
        top: 0;
        background: radial-gradient(farthest-side at 50% 0%, rgba(0, 0, 0, .18), rgba(0, 0, 0, 0)) 100% 0;
        background-repeat: no-repeat;
        background-size: 100% 0;
    }
    &:after {
        bottom: 0;
        border-top-width: 1px;
        background: radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .18), rgba(0, 0, 0, 0)) 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 0;
    }

    &__scroll {
        position: relative;
        z-index: 1;
        overflow-y: scroll;
        margin-right: -20px;
        padding-right: 20px;
    }

    &.not-start:before {
        background-size: 100% 8px;
    }
    &.not-end:after {
        background-size: 100% 8px;
    }
}

// Places
.place {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-family: "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 8px;
    text-align: center;
    line-height: 16px;
    overflow: hidden;
    transition: box-shadow .1s ease;

    &.marker,
    &.empty_label,
    &.marker_label,
    &.sold_label,
    &.reserve_label {
        font-size: 0em;
        line-height: 0;
        text-indent: 0;
    }
    &:not(.empty_label) {
        cursor: pointer;
    }

    $labels-num: length($label-positions);
    background: url('/upload/schemes/labels.svg') 0 0 / 16px #{$labels-num * 16px} no-repeat;
    // background-size: 16px;
    @each $name, $position in $label-positions {
        &.#{$name}_label {
            // background-position-y: -($position * 16px);
            background: url('/upload/schemes/labels.svg') 0 #{$position * -16px} / 16px #{$labels-num * 16px} no-repeat;

            &.marker {
                // box-shadow: 0 0 0 2px rgba(map-get($label-colors, $name), 0.24);
                background:
                    url('/upload/schemes/labels.svg') 0 #{map-get($label-positions, marker) * -16px} / 16px #{$labels-num * 16px} no-repeat,
                    url('/upload/schemes/labels.svg') 0 #{$position * -16px} / 16px #{$labels-num * 16px} no-repeat;
            }

            &.active,
            &:hover {
                box-shadow: 0 0 0 2px rgba(map-get($label-colors, $name), 0.24);
            }
        }
    };

    color: #111;
    &.bileter {
        color: #221b40;
    }
    @each $name in $labels-white-text {
        &.#{$name}_label {
            color: #fff;
        }
    };


    &-double {
        @extend .place;
        background: url('/upload/schemes/labels-double.svg') no-repeat;
        cursor: pointer;

        &.left {
            width: 28px !important;
            height: 29px !important;
            background: url('/upload/schemes/labels-double-left.svg') no-repeat !important;
        }
        &.right {
            width: 28px !important;
            height: 29px !important;
            background: url('/upload/schemes/labels-double-right.svg') no-repeat !important;
        }

        &.left.sold_label, &.right.sold_label { background-position: 0 -68px!important;}
        &.left.reserve_label, &.right.reserve_label { background-position: 0 -102px!important;}
        &.left.blue_label, &.right.blue_label { background-position: 0 -136px!important;}
        &.left.brown_label, &.right.brown_label { background-position: 0 -170px!important;}
        &.left.crimson_label, &.right.crimson_label { background-position: 0 -204px!important;}
        &.left.cyan_label, &.right.cyan_label {  background-position: 0 -238px!important;}
        &.left.darkblue_label, &.right.darkblue_label { background-position: 0 -272px!important;}
        &.left.green_label, &.right.green_label { background-position: 0 -306px!important;}
        &.left.magenta_label, &.right.magenta_label { background-position: 0 -340px!important;}
        &.left.orange_label, &.right.orange_label { background-position: 0 -374px!important;}
        &.left.purple_label, &.right.purple_label { background-position: 0 -408px!important;}
        &.left.yellow_label, &.right.yellow_label {background-position: 0 -442px!important; }
        &.left.lightgreen_label, &.right.lightgreen_label { background-position: 0 -476px!important;}
        &.left.cherry_label, &.right.cherry_label { background-position: 0 -510px!important;}

        &.blue_label:hover,
        &.brown_label:hover,
        &.crimson_label:hover,
        &.cyan_label:hover,
        &.darkblue_label:hover,
        &.green_label:hover,
        &.magenta_label:hover,
        &.orange_label:hover,
        &.purple_label:hover,
        &.yellow_label:hover,
        &.lightgreen_label:hover,
        &.cherry_label:hover {
            background-position: 0 -544px!important;
        }

        &.bileter {
            height: 34px!important;
        }
    }
}

// Popovers
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: block;
    max-width: 276px;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,0.2);
    border-radius: 0;
}
.popover {
    max-width: 320px;
    box-shadow: 0 4px 40px 0 rgba(0,0,0,0.18);

    &-content {
        display: none;

        .popover & {
            display: block;
        }
    }
    &-body {
        padding: 14px 20px;
        color: #666;
    }

    .arrow {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-top: 8px solid #fff;
        border-left: 8px solid transparent;
        transform: translateY(100%);
    }
    &.bs-popover-top .arrow,
    &.bs-popover-auto[x-placement^="top"] .arrow {
        bottom: 0;
    }

    .close {
        display: none;
        position: absolute;
        top: 14px;
        right: 20px;
        font-size: 24px;
        line-height: 18px;
        color: #ffc800;
        cursor: pointer;
    }
}
.popover-scheme {
    display: table;
    margin-bottom: 0;

    p {
        display: table-row;
        // flex-wrap: nowrap;
        min-width: 120px;
        margin-bottom: 0;
        padding: 4px 0;
        font-size: 14px;

        b {
            display: table-cell;
            padding-right: 10px;
            // flex: 0 0 auto;
            // width: 50%;
            white-space: nowrap;
        }
    }

    .arrow {
        border-right: 8px solid transparent;
        border-top: 8px solid #fff;
        border-left: 8px solid transparent;
        transform: translateY(100%);
    }

    &.pgroups-activated {
        .pgroups {
            display: table;
        }
        .close {
            display: block;
        }
    }
}
.pgroups {
    // position: absolute;
    display: none;
    color: #111;
    font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
    font-size: 14px;
    padding: 0 12px;
    border: 2px solid $light-gray;

    // p {
    //     margin: 0;
    //     // padding: 2px 40px 2px 2px;
    //     // position: relative;
    //     cursor: pointer;
    //
    //     // span {
    //     //     position: absolute;
    //     //     top: 2px;
    //     //     right: 2px;
    //     // }
    //
    //     &:hover {
    //         background-color: #fed944;
    //     }
    // }

    &-title {
        margin-bottom: 10px;
    }
    p {
        display: flex;
        flex-wrap: nowrap;
        min-width: 120px;
        margin: 0 -12px;
        padding: 6px 12px;
        font-size: 14px;
        white-space: nowrap;
        cursor: pointer;

        span {
            // display: table-cell;
            margin-left: auto;
            padding-left: 12px;
            // flex: 0 0 auto;
            // width: 50%;
        }

        &:hover {
            background-color: #ffc800;
        }
    }

    p + p {
        border-top: 1px solid $light-gray;
    }
}

// Stehplatz

.stehplatz {
    &-btn {
        display: inline-block;
        width: 24px;
        height: 24px;
        line-height: 22px;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
        color: $primary;
        vertical-align: middle;
        text-decoration: none;
        border-radius: 3px;
        overflow: hidden;

        &:hover {
            color: $secondary;
        }
    }
    &_num {
        display: inline-block;
        min-width: 50px;
        height: 24px;
        line-height: 24px;
        font-size: 18px;
        text-align: center;
    }
}
.buttons-stehplatz {
    .cat-itm {
        position: relative;
        padding: 12px 0;
        line-height: 16px;

        .catname {
            margin: 0;
            line-height: 24px;
            font-size: 18px;
        }

        .actions {
            display: flex;
            align-items: center;

            .catprice {
                flex: 1 0 auto;
                font-size: 16px;
                margin-right: auto;
            }

            .counter {
                display: flex;
                width: 80px;


                .stehplatz {
                    &-btn {
                        display: block;
                        width: 25%;
                        height: 25%;
                    }
                    &_num {
                        display: block;
                        min-width: 50%;
                        height: 24px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}


// Wht is that???
.stehplatz {
    position: absolute;
}
p.sthpltz {
    vertical-align: middle;
    line-height: 25px;
}


// Tooltip
// .tooltip {
//     position: absolute;
//     z-index: 999;
//     background-color: white;
//     padding: 2px 4px;
//     border: 1px solid #c8c6d3;
//     display: none;
//     color: #221b40;
//     font-size: 12px;
//
//     p {
//         margin: 2px;
//     }
// }

// @each $name, $color in $patterns {
//     .#{$name}_label:before {
//         background: $color;
//     }
// }
